<main class="container">
    <h2>Médicos</h2>

    <a (click)="novo()" class="btn btn-primary">Cadastrar Médico</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Especialidade</th>
                <th>CRM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umMedico of listaMedicos">
                <td>{{umMedico.nome}}</td>
                <td>{{umMedico.especialidade}}</td>
                <td>{{umMedico.crm}}</td>

                <td><a (click)="alterar(umMedico)"
                    class="btn btn-secondary">Alterar</a>
                    <a (click)="abrirConfirmacao(umMedico)" 
                    class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Médico</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão do médico?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>