<nav class="navbar navbar-expand navbar-light bg-light mb-4">
  <div class="container-fluid">
    <div class="navbar-nav">
      <button type="button" class="btn btn-secondary" onclick="window.location.href='http://localhost:4200/pacientes'">Pacientes</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='http://localhost:4200/agendamentos'">Agendamentos</button>
    </div>
  </div>
</nav>

<main class="container">
    <h2>Médicos</h2>

    <!-- Formulário de cadastro de médico -->
    <form #medicoForm="ngForm" (ngSubmit)="salvar()">
      <div class="card mb-4">
        <div class="card-body">
          <div class="form-group mb-2">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" [(ngModel)]="medico.nome" class="form-control" required>
          </div>
          <div class="form-group mb-2">
            <label for="especialidade">Especialidade</label>
            <input id="especialidade" name="especialidade" [(ngModel)]="medico.especialidade" class="form-control" required>
          </div>
          <div class="form-group mb-2">
            <label for="crm">CRM</label>
            <input id="crm" name="crm" [(ngModel)]="medico.crm" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>

    <a (click)="novo()" class="btn btn-primary mb-3">Cadastrar Médico</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Especialidade</th>
                <th>CRM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umMedico of listaMedicos">
                <td>{{umMedico.nome}}</td>
                <td>{{umMedico.especialidade}}</td>
                <td>{{umMedico.crm}}</td>
                <td>
                    <a (click)="alterar(umMedico)" class="btn btn-secondary">Alterar</a>
                    <a (click)="abrirConfirmacao(umMedico)" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Médico</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão do médico?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>