<main class="container">
    <h2>Médico</h2>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="txtNome">Nome</label>
                <input type="text" 
                    [(ngModel)]="medico.nome"
                    class="form-control"
                    id="txtNome">
            </div>
            <div class="form-group">
                <label for="txtEspecialidade">Especialidade</label>
                <input type="text" 
                    [(ngModel)]="medico.especialidade"
                    class="form-control"
                    id="txtEspecialidade">
            </div>
            <div class="form-group">
                <label for="txtCRM">CRM</label>
                <input type="text" 
                    [(ngModel)]="medico.crm"
                    class="form-control"
                    id="txtCRM">
            </div>
        </div>
        <button (click)="salvar()"
            class="btn btn-primary">Salvar</button>
    </div>
</main>