<nav class="navbar navbar-expand navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Agendamento Online</a>
    <div class="navbar-nav">
      <button type="button" class="btn btn-secondary" onclick="window.location.href='http://localhost:4200/medicos'">Médicos</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='http://localhost:4200/agendamentos'">Agendamentos</button>
    </div>
  </div>
</nav>

<main class="container">
    <h2>Pacientes</h2>

    <a (click)="novo()" class="btn btn-primary">Cadastrar Paciente </a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Convênio</th>
                <th>Endereço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umPaciente of listaPacientes">
                <td>{{umPaciente.nome}}</td>
                <td>{{umPaciente.cpf}}</td>
                <td>{{umPaciente.dataNascimento}}</td>
                <td>{{umPaciente.telefone}}</td>
                <td>{{umPaciente.email}}</td>
                <td>{{umPaciente.convenio}}</td>
                <td>{{umPaciente.endereco}}</td>
                <td>
                    <a (click)="alterar(umPaciente)" class="btn btn-secondary">Alterar</a>
                    <a (click)="abrirConfirmacao(umPaciente)" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<div class="modal fade" #myModal tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Paciente</h5>
            </div>
            <div class="modal-body">
            Confirma a exclusão do paciente?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
            </div>
        </div>
    </div>
</div>

